{% extends 'layout.html' %}

{% block content %}

<main id="main">
   
    <header id="track-header" style="color:white;">
        <h1 class="title" style="color:white;"  style="padding-top: 10px;">{{track.track_id}}. {{track.title}}</h1>
    </header>
    
    <!-- <div style="padding: 40px;"><img src="{{ url_for('static', filename='images/image-not-found.png') }}" alt="Album Cover"></div> -->
    <div id="gradient"></div>
    <div class="track-container">
        <table class="track-details">
            <tr>
            <th>Track ID</th>
            <th>Song</th>
            <th>Duration</th>
            </tr>
            <tr>
            <td>{{track.track_id}}</td>
            <td>{{track.title}}</td>
            <td>{{track.track_duration}}</td>
            </tr>
        </table>
    </div>
    <div>
        <table class="track-details" style="color:white;">
            <tr>
            <th>Album</th>
            </tr>
            <tr>
            <td>{{track.album.title}}</td>
            </tr>
        </table>
        <div style="padding: 40px;">

        </div>
    </div style="padding: 40px;" style="color:white;">
        Genre(s):<br>
        {% for genre in track.genres %}
        {{genre.name}} 
        {% endfor %}
    </div>

</main>

{% endblock %}