{% extends 'layout.html' %}

{% block content %}

<main id="main">
    <header id="track-header" style="color:white;">
        
        <h1 class="title" style="color:white;">Browse Tracks</h1>
    </header>
    {% if form is not none %}
    <div>
        <form method="POST" action="{{ handler_url }}">
          {{ form.csrf_token }}
          <div>{{ form.title.label }} {{ form.title }}{{form.select}}</div>
          
          {{ form.submit}}
        </form>
      </div>
    {% endif %}
    <div class="tracks">
        <div class="row justify-content-md-center title">
          <!-- <div class="col-sm">Track ID</div> -->
          <div class="col-sm title">Song</div>
          <!-- <div class="w-100"></div> -->
          <div class="col-sm title">Artist</div>
          <div class="col-sm title">Album</div>
        </div>
        {% for track in tracks %}  
        <a class= "fill-div" href="{{ url_for('track_blueprint.track_page', track_id = track.track_id ) }}">
            <track>
        <div class="row justify-content-md-center entry">
            <div class="col-sm">{{track.title}}</div>
            <div class="col-sm">{{track.artist.full_name}}</div>
            <div class="col-sm">{{track.album.title}}</div>
        </track>
        </div>
            </a>
        {% endfor %}    
    </div>
      

    <footer>
        <nav style="clear:both">
            <div style="float:left">
                {% if prev_tracks_url is not none %}
                    <button class="button" onclick="location.href='{{prev_tracks_url}}'">Back</button>
                {% else %}
                    <button class="button-disabled" disabled>Back</button>
                {% endif %}
            </div>
            <div style="float:right">
                {% if next_tracks_url is not none %}
                    <button class="button" onclick="location.href='{{next_tracks_url}}'">Next</button>
                {% else %}
                    <button class="button-disabled" disabled>Next</button>
                {% endif %}
            </div>
        </nav>
    </footer>
</main>

{% endblock %}