{% extends 'layout.html' %}

{% block content %}

<main id="main">
    <header id="track-header" style="color:white;">
        <h1 class="title" style="color:white;">Browse Tracks</h1>
    </header>
    <table id="tracks">
        <tr>
            <th>Song</th>
            <th>Artist</th>
        </tr>
        {% for track in tracks %}
        <track>
            <tr>
                <td>{{track.title}}</td>
                <td>{{track.artist.full_name}}</td>
            </tr>
        </track>
        {% endfor %}
    </table>

    <footer>
        <nav style="clear:both">
            <div style="float:left">
                {% if prev_track_url is not none %}
                    <button class="button" onclick="location.href='{{prev_track_url}}'">Back</button>
                {% else %}
                    <button class="button" disabled>Previous</button>
                {% endif %}
            </div>
            <div style="float:right">
                {% if next_track_url is not none %}
                    <button class="button" onclick="location.href='{{next_track_url}}'">Next</button>
                {% else %}
                    <button class="button" disabled>Next</button>
                {% endif %}
            </div>
        </nav>
    </footer>
</main>

{% endblock %}