{% extends 'layout.html' %}

{% block content %}

<main id="main">
    <header id="track-header" style="color:white;">
        <h1 class="title" style="color:white;">Browse Tracks</h1>
    </header>
    <table class="tracks">
        <tr>
            <th>Track ID</th>
            <th>Song</th>
            <th>Artist</th>
            <th>Album</th>
        </tr>
        {% for track in tracks %}
        <track href="{{ url_for('track_blueprint.details') }}">
            <tr>
                <td>{{track.track_id}}</td>
                <td>{{track.title}}</td>
                <td>{{track.artist.full_name}}</td>
                <td>{{track.album.title}}</td>
                <!-- <td><button class="open-button" onclick="openForm()">Review</button></td>
                <td><button class="open-button" onclick="openForm()">Favourite</button></td>
                <td><button class="open-button" onclick="openForm()">Add to playlist</button></td> -->
            </tr>
        </track>
        {% endfor %}
    </table>

<!-- <div class="form-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <label for="rating"><b>Rate</b></label>
    <input type="text" placeholder="Enter Rating" name="rating" required>

    <label for="review"><b>Review</b></label>
    <input type="text" placeholder="Enter Review" name="review" required>

    <button type="submit" class="btn">Submit</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script> -->

    <footer>
        <nav style="clear:both">
            <div style="float:left">
                {% if prev_track_url is not none %}
                    <button class="button" onclick="location.href='{{prev_track_url}}'">Back</button>
                {% else %}
                    <button class="button" disabled>Previous</button>
                {% endif %}
            </div>
            <div style="float:right">
                {% if next_track_url is not none %}
                    <button class="button" onclick="location.href='{{next_track_url}}'">Next</button>
                {% else %}
                    <button class="button" disabled>Next</button>
                {% endif %}
            </div>
        </nav>
    </footer>
</main>

{% endblock %}