{% extends 'layout.html' %}{%block content%}

<section id="main">
    <h1 class="title">Favourited Tracks</h1>

    <div class ="row justify-content-md-center">
        <div class="col-sm-1 th" style="font-size: 30px;">ID</div>
        <div class="col-sm-2 th" style="font-size: 30px;">Track</div>
        <div class="col-sm-8 th" style="font-size: 30px;">Hyperlink</div>
    </div> 
    {% for track in tracks %}  
    
    <div class="tracks" style="padding-left: 60px;">
        
        <div class ="row justify-content-md-center" id = "favourite">
           
            <div class="col-sm-1 td" style="font-size: 18px;""><a class= "fill-div" style="color:white;" href="{{ url_for('track_blueprint.track_page', track_id = track.id ) }}">{{track.id}}</a></div>
            <div class="col-sm-2 td" style="font-size: 18px;"><a class= "fill-div" style="color:white;" href="{{ url_for('track_blueprint.track_page', track_id = track.id ) }}">{{track.title}}</a></div>
            
            <div class="col-sm-9 td" style="font-size: 18px;"><a class = "fill-div"target="_blank"href={{track.hyperlink}}>{{track.hyperlink}}</a></div>
            
        </div> 
    
    </div>
    
    {% endfor %}
          
</section>

{% endblock %}