<nav id="nav">
    <!-- <img src="/static/images/music-ico.png" alt="Music icon"  id="icon"> -->
    <img id="logo" src="{{ url_for('static', filename='images/music-ico.png') }}" alt="Icon">
    <h2 id="nav-header">Music</h2>
    <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
    <a class="btn-nav" href="{{ url_for('authentication_bp.register') }}">Register</a>
    <a class="btn-nav" href="{{ url_for('authentication_bp.login') }}">Login</a>
    <a class="btn-nav" href="{{ url_for('authentication_bp.logout') }}">Logout</a>
    <a class="btn-nav" href="{{ url_for('profile_bp.favourites') }}">Favourites</a>
    <a class="btn-nav" href="{{ url_for('profile_bp.playlists') }}">Playlists</a>
    <a class="btn-nav" href="">Music</a>
    <div>
        <h3>
          <a class="btn-nav" href="{{ url_for('track_blueprint.track') }}">
            Browse songs
          </a>
        </h3>
      </div>
    
    
    
      <div id="nav-footer">
        COMPSCI 235 Software Development Methodologies
      </div>
    </nav>